In [1]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("/Users/Atabay/Desktop/SQLFiles Tier 2 2/sqlite_db_pythonsqlite.db")

In [2]:
cur = conn.cursor()

In [3]:
cur.execute("select * from Members limit 5;")

In [4]:
results = cur.fetchall()
print(results)

[(0, 'GUEST', 'GUEST', 'GUEST', 0, '(000) 000-0000', '', '2012-07-01 00:00:00'), (1, 'Smith', 'Darren', '8 Bloomsbury Close, Boston', 4321, '555-555-5555', '', '2012-07-02 12:02:05'), (2, 'Smith', 'Tracy', '8 Bloomsbury Close, New York', 4321, '555-555-5555', '', '2012-07-02 12:08:23'), (3, 'Rownam', 'Tim', '23 Highway Way, Boston', 23423, '(844) 693-0723', '', '2012-07-03 09:32:15'), (4, 'Joplette', 'Janice', '20 Crossing Road, New York', 234, '(833) 942-4710', '1', '2012-07-03 10:25:05')]

In [5]:
# Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. Remember
#that there's a different cost for guests and members!

facility_rev = '''SELECT f.name, 
SUM(CASE WHEN m.firstname = 'GUEST' THEN (guestcost * slots)
ELSE (membercost * slots) END) AS total_revenue 

FROM Bookings AS b
    INNER JOIN Members AS m USING (memid)
    INNER JOIN Facilities AS f USING (facid)
GROUP BY f.name
HAVING total_revenue < 1000'''

cur.execute(facility_rev)
results = cur.fetchall()

for result in results:
    print(result)

('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [10]:
# Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
members = '''SELECT m1.surname || ' ' || m1.firstname AS member_name, m2.surname || ' ' || m2.firstname AS recommended_name
FROM Members AS m1
INNER JOIN Members AS m2
ON m1.recommendedby = m2.memid
WHERE m2.surname != 'GUEST'
ORDER BY m1.surname, m2.surname'''

cur.execute(members)
results = cur.fetchall()

for result in results:
    print(result)

('Bader Florence', 'Stibbons Ponder')
('Baker Timothy', 'Farrell Jemima')
('Baker Anne', 'Stibbons Ponder')
('Boothe Tim', 'Rownam Tim')
('Butters Gerald', 'Smith Darren')
('Coplin Joan', 'Baker Timothy')
('Crumpet Erica', 'Smith Tracy')
('Dare Nancy', 'Joplette Janice')
('Genting Matthew', 'Butters Gerald')
('Hunt John', 'Purview Millicent')
('Jones Douglas', 'Jones David')
('Jones David', 'Joplette Janice')
('Joplette Janice', 'Smith Darren')
('Mackenzie Anna', 'Smith Darren')
('Owen Charles', 'Smith Darren')
('Pinker David', 'Farrell Jemima')
('Purview Millicent', 'Smith Tracy')
('Rumney Henrietta', 'Genting Matthew')
('Sarwin Ramnaresh', 'Bader Florence')
('Smith Jack', 'Smith Darren')
('Stibbons Ponder', 'Tracy Burton')
('Worthington-Smyth Henry', 'Smith Tracy')

In [12]:
# Q12: Find the facilities with their usage by member, but not guests
usage = '''SELECT f.name, COUNT(memid) AS member_use
FROM Bookings AS b
INNER JOIN Facilities AS f USING (facid)
WHERE memid != 0
GROUP BY f.name
ORDER BY f.name'''

cur.execute(usage)
results = cur.fetchall()

for result in results:
    print(result)

('Badminton Court', 344)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Pool Table', 783)
('Snooker Table', 421)
('Squash Court', 195)
('Table Tennis', 385)
('Tennis Court 1', 308)
('Tennis Court 2', 276)

In [18]:
# Q13: Find the facilities usage by month, but not guests
usage_month = '''SELECT f.name, strftime('%m', starttime) AS month, COUNT(memid) AS member_use
FROM Bookings AS b
INNER JOIN Facilities AS f USING (facid)
WHERE memid != 0
GROUP BY month, f.name
ORDER BY month'''

cur.execute(usage_month)
results = cur.fetchall()

for result in results:
    print(result)

('Badminton Court', '07', 51)
('Massage Room 1', '07', 77)
('Massage Room 2', '07', 4)
('Pool Table', '07', 103)
('Snooker Table', '07', 68)
('Squash Court', '07', 23)
('Table Tennis', '07', 48)
('Tennis Court 1', '07', 65)
('Tennis Court 2', '07', 41)
('Badminton Court', '08', 132)
('Massage Room 1', '08', 153)
('Massage Room 2', '08', 9)
('Pool Table', '08', 272)
('Snooker Table', '08', 154)
('Squash Court', '08', 85)
('Table Tennis', '08', 143)
('Tennis Court 1', '08', 111)
('Tennis Court 2', '08', 109)
('Badminton Court', '09', 161)
('Massage Room 1', '09', 191)
('Massage Room 2', '09', 14)
('Pool Table', '09', 408)
('Snooker Table', '09', 199)
('Squash Court', '09', 87)
('Table Tennis', '09', 194)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '09', 126)